<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="../../assets/logo.png" width="50" height="40" class="d-inline-block align-top" alt="">
        <a class="navbar-brand">Daxcsa</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="input-group mb-3">

                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
                </button>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <br>
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Usuario1
                        <br>
                        Cuenta
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">cuenta</a></li>
                        <li><a class="dropdown-item" href="#">Recomendaciones</a></li>
                        <li><a class="dropdown-item" href="#">Historial</a></li>
                        <li><a class="dropdown-item" href="#">Membresia</a></li>
                        <li><a class="dropdown-item" href="#">Cambiar Cuenta</a></li>
                        <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <br>
                    <a class="nav-link active" aria-current="page" href="">Pedidos y <br> Devoluciones</a>
                </li>
                <li class="nav-item">
                    <div class="input-group mb-3">
                        <div class="btn btn-light" type="button" id="button-addon1">
                            <mat-icon>shopping_cart</mat-icon>
                            <h4>Carrito</h4>
                        </div>
                    </div>



                </li>
            </ul>

        </div>
    </div>
</nav>